@tailwind base;
@tailwind components;
@tailwind utilities;

/* Home Page */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  font-family: 'Trebuchet MS', sans-serif;
  font-style: bold;
  height: 100vh;
}
.home h4 {
  align-self: flex-start;
  color: #000000;
  margin: 0;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
}
.home button {
  background-color: #ef0c0c;
  color: white;
  border: none;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 300px;
  transition: background-color 0.3s ease;
}
.home button:hover {
  background-color: #ef0c0c;
}
.home .button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

  /* Inventory Details */
.inventory-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  flex: 1 0 21%; /* Make items take up 20% of the container width, with some margin */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}
.inventory-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #ef0c0c;
}
.inventory-details p {
  margin: 0;
  font-size: 0.9em;
  color: #000000;
}

/* Inventory Display */
.inventory-display {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.inventory-display .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.inventory-display .header h2 {
  margin: 0;
  color: #000000;
  font-size: 40px;
}
.inventory-display .header button {
  background-color: #ef0c0c;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.inventory-display .header button:hover {
  background-color: #ef0c0c;
}
.inventory-display .inventory-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
}
.inventory-display .inventory-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 40px;
}

/* Generate Report */
.generate-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}
.generate-report .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 20px;
  box-sizing: border-box;
}
.generate-report .header h2 {
  margin: 0;
  color: #000000;
  font-size: 40px;
}
.generate-report .header button {
  background-color: #ef0c0c;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.generate-report .header button:hover {
  background-color: #ef0c0c;
}
.generate-report .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.generate-report .content p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
}
.generate-report .download-link {
  background-color: #ef0c0c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.generate-report .download-link:hover {
  background-color: #ef0c0c;
  color: #e0e0e0;
}


.Buttons button {
  background-color: #ef0c0c;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.Buttons {
  margin-top: 50px; 
  display: flex;
  gap: 20px; 
  justify-content: center; 
}

.Header {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  padding: 20px; 
  background-color: #ef0c0c; 
  border-bottom: 1px solid #ddd; 
}

.Header h1 {
  margin: 0; 
  font-size: 24px; 
  font-weight: bold; 
  color: #fdfdfd;
}


.Content {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 600px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #f9f9f9;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.Content label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Content input,
.Content select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box;
}

.Content input[type="number"],
.Content input[type="date"] {
  padding: 10px;
}

.Content input[type="text"] {
  padding: 10px;
}

.Content input:focus,
.Content select:focus {
  outline: none;
  border-color: #ef0c0c; 
  box-shadow: 0 0 5px rgb(216, 41, 41); 
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  font-family: 'Trebuchet MS', sans-serif;
  font-style: bold;
  height: 100vh;
  background-color: #f8f7f7;
}

.display button{
  background-color: #ef0c0c;
  color: white;
  border: none;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 300px;
  transition: background-color 0.3s ease;
}

.display img{
  width : 500px;
}


body, h1, form, input, select, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.Register {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

.title h1 {
  margin-bottom: 1em;
  color: #000000;
  font-size: 32px;
}

.items input, .items select, .items button {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid #dddddd;
  font-size: 1em;
}

.items input:focus, .items select:focus {
  border-color: #ef0c0c;
  outline: none;
}

.items button {
  background-color:  #ef0c0c;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.items button:hover {
  background-color: #ef0c0c;
}

.Role, .Choice {
  text-align: left;
  margin-bottom: 1em;
}

.Role label {
  font-size: 0.9em;
  color: #333333;
}

.error, .success {
  color: red;
  margin-top: 1em;
}

.Register img{
  margin-right: 10px;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.Login h2 {
  margin-bottom: 20px;
}

.Login p {
  color: red;
}

.Items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Image {
  float: left;
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.itemone, .item3 {
  margin-bottom: 15px;
}

.itemone label, .item3 label {
  display: block;
  margin-bottom: 5px;
}

.itemone input, .item3 input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login{
  background-color: #ef0c0c;
  color: white;
  border: none;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 300px;
  transition: background-color 0.3s ease;
}


 .title{
  color: #000000;
  font-size: 32px;
}

.manage-inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
}

.Home-Button {
  padding: 10px 20px;
  background-color: #ef0c0c;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.Home-Button:hover {
  background-color: #ef0c0c;
  
}

.inventory-list {
  display: grid;
  width: 100%;
}

.inventory-item {
  justify-content: space-between;
  justify-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}



.inventory-item button {
  padding: 8px 16px;
  background-color: #ef0c0c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.inventory-item button:hover {
  background-color: #ef0c0c;
}

.inventory-item button:first-of-type {
  background-color: #ef0c0c;
}

.inventory-item button:first-of-type:hover {
  background-color: #ef0c0c;
}

.edit-donation {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 20px auto;
  padding: 100px;
  width: 100%;
  max-width: 800px; 
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
}

.edit-donation h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.edit-donation label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-donation input,
.edit-donation select {
  width: 100%;
  padding: 12px; 
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-donation input[type="date"],
.edit-donation input[type="number"] {
  padding: 10px;
}

.edit-donation button {
  width: 100%;
  padding: 15px; 
  background-color: #ef0c0c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 600px;

}

.filter-container label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-container select {
  padding: 8px 16px;
  background-color: #fff;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
